<div id="intro" class="row">
	<p>There’s a lot of built heritage out there. We want to help you find the bits local to you.</p>
</div>
<div class="row">
<div class="four columns">
		<p><!--Are you interested in your the Built History of your area? --><b>The Record of Protected Structures</b><br />
		Every 5 years Fingal County Council prepares a Record of Protected structures. This list identifies buildings and structures (earthworks, etc) which are of importance to the county's history and must be preserved.</p>
</div>
<div class="four columns">
	<p><b>What is a protected structure?</b><br />
		A protected structure is a structure or part of a structure 
	deemed of special architectural, artistic, historical, archaeological, cultural, 
	scientific, social or technical interest</p>
		<!--<h4>Maybe you didn't know the house next door was of importance? </h4>-->
</div>
<div class="four columns">
	<p><b>What types of structure might I find?</b><br />
		Fingal is a county steeped in a wealth of architectural and archeological heritage spanning significant periods of history. There are so many features of historical note from the earliest remains of cairns to medieval churches to mortello towers to the beginnings of commercial air travel in Ireland.</p>
</div>
</div>
<!--<div class="eight columns">
<dl class="tabs contained">
  <dd><a href="#simpleContained1" class="active">Introduction</a></dd>
  <dd><a href="#simpleContained2">Who makes the RPS?</a></dd>
  <dd><a href="#simpleContained3">What does being Protected Mean?</a></dd>
</dl>

<ul class="tabs-content contained">
  <li class="active" id="simpleContained1Tab">
	<b>What is the Record of Protected Structures?</b><br />
	<p>The Record of Protected Structures (RPS) lists all protected structures and buildings in Fingal.</p>
	<b>What is a Protected Structures?</b><br />
	<p>It is a structure that is of importance locally, regionally or nationally the is of architectural, historical, archaeological, artistic, cultural, social, scientific or technical importance.</p>
	<p>Fingal County has a rich and diverse building stock, ranging from isolated rural 
	structures such as traditional farmsteads, small cottages and large country 
	houses to the architecture of a capital city, including an international airport.  
	Within this variety of building types are structures of architectural significance or 
	of a distinctive local character that are deemed worthy of protection and are seen 
	to be integral to the architectural heritage of the county. </p>
	<p>These structures are a unique and exceptional resource.  They have acquired 
	character and special interest over time and have cultural significance in a 
	changing world.  All of their parts have been tested by our climate, and those that 
	have survived the process of decay and avoided demolition have acquired 
	economic, environmental and aesthetic value.  If we enjoy the fruits of this 
	inheritance, we have a duty to ensure that it is conserved, maintained, 
	sympathetically reused, and passed on to our successors with its value intact. </p>
	<p>The creative challenge faced by custodians of this heritage is to find appropriate 
	ways to prolong its cultural life, satisfying the requirements of a structure to be 
	safe, stable and durable on the one hand, and retaining its character and fabric of 
	special interest on the other.</p>
	</li> 
  <li id="simpleContained2Tab"><b>Who makes the RPS?</b><br/>
	<p>Each county council must prepare an RPS each time it makes a county development plan, so a new one is made roughly ever 5 years. The National Inventory of Architectural Heritage, advises each county council on buildings it believes deserve the protection afforded by the RPS.</p>
	<p>The current county development plan is <b>Fingal County Development Plan 2011 - 2017</b> and the RPS is contained in Appendix 3 of the Written Statement.</p>
	<p>A protected structure is a structure, or part of a  structure, that a planning 
	authority considers to be of special interest from  an <b>architectural, historical, 
	archaeological, artistic, cultural, scientific, social, or technical point of 
	view.</b>  Thus, structures do not have to be aesthetically pleasing to merit 
	protection but must meet one or more of the above criteria.  Structures such as 
	bridges, milestones, holy wells, industrial buildings and small vernacular cottages 
	can therefore warrant protection just as much as churches and grand houses. </p>
	<p>Every planning authority is obliged by legislation to have a Record of Protected 
	Structures (RPS) that includes structures of special interest in its functional area 
	and into which details of protected structures are entered.  The RPS forms part of 
	the Development Plan, but can be added to or deleted from at any time.  Fingal 
	County Council’s RPS is included as Appendix 3 of the Fingal Development Plan 
	2011-2017.  Any changes to the RPS will be updated on an electronic version of 
	the RPS that can be viewed in the Planning Section  of Fingal County Council’s 
	website. </p> 
	
	<p>The legislation relating to Architectural Heritage, including Protected Structures, is 
	set out under Part IV of the Planning and Development Acts 2000 to 2010.</p>
	
	</li>
  <li id="simpleContained3Tab">
  	<b>How does a building become a protected structure?</b><br/>
	<p>As stated above, structures that are of special interest from an architectural, 
	historical, archaeological, artistic, cultural, scientific, social, or technical point of 
	view are proposed for inclusion in the RPS.  Anyone can recommend a building for 
	protection, but the decision to include structures in the RPS can only be made by 
	the elected members (i.e. the Councillors) of a planning authority. </p>
	<p>Prior to the Planning and Development Act 2000, structures were only added to a 
	list for protection as part of the review of the local authority’s Development Plan 
	and so were known as listed buildings.  With the changes in the legislation in 
	2000 two processes are now available to make alterations to the RPS.  Additions 
	and deletions can still take place every 6 years as part of the overall review of the 
	county Development Plan (as set out in Part II of the 2000 Act).  Or amendments 
	can be made to the RPS during the lifetime of the current Development Plan using 
	procedures set out in Section 55 under Part IV of the 2000 Act. </p>
	<p>When using the procedures under Part II to add or delete properties from the RPS 
	Appendix during the review of the Draft Development Plan a Section 12 (3)(a) 
	Notice is served on owners and occupiers of these structures informing them of 
	the process.  The whole plan is placed on public display for a period of at least 10 
	weeks and submissions can be made during this period.  After the elected 
	members have adopted the new Development Plan, the owners and occupiers are 
	issued another notice to confirm whether their structures has or has not been 
	added to or deleted from the RPS. </p>
	<p>If the Part IV process is used, to add to or delete from the RPS outside of the 
	development plan process, then notification is served under Section 55 of the 
	Planning and Development Act 2000.   Particulars of additions or deletions are put 
	on public display for at least 6 weeks, during which time anyone, including the 
	owner or occupier, is entitled to make comments on  such a proposal to the 
	Council.  Fingal County Council is obliged to take  these comments into 
	consideration before its elected members decide, within 12 weeks from the end of 
	display period, as to whether or not the structure should be entered onto the 
	RPS.  The Council will notify the owners and occupiers of the structure of the 
	decision. </p>
<p>	While a structure is a proposed protected structure it has the same protection as 
	a protected structure with regard to the duties and responsibilities of the owners, 
	occupiers and the Council. </p>
	<p>Fingal County Council intends to carry out a major  review of its Record of 
	Protected Structures using the Section 55 process in 2011 and 2012</p>

  </li>
</ul>
</div> -->
	