<% title "About" %>
<div class="row">
	<h2>About</h2>
</div>
<div class="row" style="font-size:17px;">
	<div class="seven columns">
		<p>There’s a lot of built heritage out there. We want to help you find the bits local to you.</p>
		<p>The population of Ireland is increasingly becoming more urban, with some 60% of us now living in urban areas. 
			There is a significant variety of built heritage scattered throughout the country ranging from cairns to megolitic tombs to old mills.
		</p>
		<p>A lot of this lay's hidden away from view in loads of different documents that many care not to read nor know of save those in the profession.</p>
	</div>
	
	<div class="five columns">
		<p>This site is made with love and care by the me, an out of the job spatial planner with a coffee addiction.</p>
		<p><%= link_to (image_tag"http://twitpic.com/show/full/73qw5x.jpg"), "http://twitpic.com/73qw5x", :title => "That&#039;s right a #Rusty t-shirt and all! on Twitpic" %>
				</p>
		<p>Blah Blah bullshit about me</p>
	</div>
	
</div>