<div class="row">
	<h2>About</h2>
</div>
<div class="row" style="font-size:17px;">
	<div class="seven columns">
		<p>There’s a lot of built heritage out there. We want to help you find the bits local to you.</p>
		<p>A lot of this lay's hidden away from view in loads of different documents that many care not to read nor know of save those in the profession.</p>
	</div>
	
	<div class="five columns">
		<p>This site is made with love and care by the me, an out of the job spatial planner with a coffee addiction.</p>
		<p><%= image_tag "http://d3j5vwomefv46c.cloudfront.net/photos/full/429556821.jpg?Expires=1325980826&Key-Pair-Id=APKAIYVGSUJFNRFZBBTA&Signature=wZo0rauWbtD52cjKIbF05KyC-IF3tcnuo5usgBmCjHyGQg4~-GkIuA~pjV-4q~6j5jltvo5A~49zmopE~i2cMJ-UMcdriLXaqNd2KbsTkZc6eCxMqdg0RQygQweKyKQdrdpGHmEEUEc2lFgrso1AfptJkwM1SYlY3Iu0s8FKiSw_" %></p>
		<p>Blah Blah bullshit about me</p>
	</div>
	
</div>