<div class="row">
	<h2>Contact</h2>
	<p>I'm always up for a chat, so if you like what you see please get in contact with and tell me at <%= mail_to "colinb@dt106ers.com", "colinb@dt106ers.com" %> or if you don't feel like emailing me, try the twitter handle <%= link_to "@Rusty1052", "http://twitter.com/rusty1052" %></p>
	<div class="eight columns">
		<script type="text/javascript">var host = (("https:" == document.location.protocol) ? "https://secure." : "http://");document.write(unescape("%3Cscript src='" + host + "wufoo.com/scripts/embed/form.js' type='text/javascript'%3E%3C/script%3E"));</script>

		<script type="text/javascript">
		var s7x3w7 = new WufooForm();
		s7x3w7.initialize({
		'userName':'rustyb', 
		'formHash':'s7x3w7', 
		'autoResize':true,
		'height':'497',
		'header':'show'});
		s7x3w7.display();
		</script>
	</div>
	
</div>